
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Responsive Modern Real Estate</title>

    <!-- Bootstrap core CSS -->
    <link href="./libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./libraries/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="./libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./libraries/clndr/clndr.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/index.css" rel="stylesheet">
    <link href="./stylesheets/color.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./libraries/html5shiv/html5shiv.js"></script>
      <script src="./libraries/respond.js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>Choosing the right realtor<br>
            <small>Jim Brone</small></h3>
          <img src="./images/blog.jpg" class="img-responsive" alt="house for sale">
          <i class="fa fa-tag"></i> <span class="label label-warning">Colors</span>
            <span class="label label-warning">Agents</span>
            <span class="label label-warning">Neighbors</span>
            <span class="label label-warning">Real Estate</span>
          <div class="row">
            <div class="col-md-6"><p><i class="fa fa-calendar"></i> March 11, 2014 6:40PM</div>
            <div class="col-md-6"><p><i class="fa fa-comments"></i> 15 comments</div>
          </div>
          <p>Choosing the right realtor is important when it comes to purchasing a house.
            When a person walks by in a itty bitty suit, with the right shoes, you get the
            feeling like maybe this is going to be the right purchase.  Commissions are
            important as well.  No one wants to the odd man out...</p>
          <a class="btn btn-primary btn-sm" href="blog-detail.html">Read more</a>

          <hr>

          <h3>Choosing the right realtor<br>
            <small>Jim Brone</small></h3>
          <img src="./images/blog.jpg" class="img-responsive" alt="house for sale">
          <i class="fa fa-tag"></i> <span class="label label-warning">Colors</span>
            <span class="label label-warning">Agents</span>
            <span class="label label-warning">Neighbors</span>
            <span class="label label-warning">Real Estate</span>
          <div class="row">
            <div class="col-md-6"><p><i class="fa fa-calendar"></i> March 11, 2014 6:40PM</div>
            <div class="col-md-6"><p><i class="fa fa-comments"></i> 15 comments</div>
          </div>
          <p>Choosing the right realtor is important when it comes to purchasing a house.
            When a person walks by in a itty bitty suit, with the right shoes, you get the
            feeling like maybe this is going to be the right purchase.  Commissions are
            important as well.  No one wants to the odd man out...</p>
          <a class="btn btn-primary btn-sm" href="blog-detail.html">Read more</a>

          <hr>

          <h3>Choosing the right realtor<br>
            <small>Jim Brone</small></h3>
          <img src="./images/blog.jpg" class="img-responsive" alt="house for sale">
          <i class="fa fa-tag"></i> <span class="label label-warning">Colors</span>
            <span class="label label-warning">Agents</span>
            <span class="label label-warning">Neighbors</span>
            <span class="label label-warning">Real Estate</span>
          <div class="row">
            <div class="col-md-6"><p><i class="fa fa-calendar"></i> March 11, 2014 6:40PM</div>
            <div class="col-md-6"><p><i class="fa fa-comments"></i> 15 comments</div>
          </div>
          <p>Choosing the right realtor is important when it comes to purchasing a house.
            When a person walks by in a itty bitty suit, with the right shoes, you get the
            feeling like maybe this is going to be the right purchase.  Commissions are
            important as well.  No one wants to the odd man out...</p>
          <a class="btn btn-primary btn-sm" href="blog-detail.html">Read more</a>

          <hr>

          <h3>Choosing the right realtor<br>
            <small>Jim Brone</small></h3>
          <img src="./images/blog.jpg" class="img-responsive" alt="house for sale">
          <i class="fa fa-tag"></i> <span class="label label-warning">Colors</span>
            <span class="label label-warning">Agents</span>
            <span class="label label-warning">Neighbors</span>
            <span class="label label-warning">Real Estate</span>
          <div class="row">
            <div class="col-md-6"><p><i class="fa fa-calendar"></i> March 11, 2014 6:40PM</div>
            <div class="col-md-6"><p><i class="fa fa-comments"></i> 15 comments</div>
          </div>
          <p>Choosing the right realtor is important when it comes to purchasing a house.
            When a person walks by in a itty bitty suit, with the right shoes, you get the
            feeling like maybe this is going to be the right purchase.  Commissions are
            important as well.  No one wants to the odd man out...</p>
          <a class="btn btn-primary btn-sm" href="blog-detail.html">Read more</a>
        </div>
        
        <div class="col-md-4">
          <div class="panel panel-primary">
            
            <div class="panel-heading">Tags</div>
              <div class="panel-body">
                <span class="label label-warning">Money</span>
                <span class="label label-warning">Loans</span>
                <span class="label label-warning">Rentals</span>
                <span class="label label-warning">Single-Family</span>
                <span class="label label-warning">Title</span>
                <span class="label label-warning">Yard</span>
                <span class="label label-warning">DIY</span>
                <span class="label label-warning">Commission</span>
                <span class="label label-warning">Closing</span>
                <span class="label label-warning">Listing</span>
                <span class="label label-warning">MLS</span>
              </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Categories</div>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Loans</a>
              <li><a href="#">First time buyers</a>
              <li><a href="#">Titling</a>
              <li><a href="#">Saving</a>
            </ul>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">Calendar</div>
            <div class="cal2"></div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- /.container -->

    <br>

    <div class="row" id="footer-row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row" id="footer">
        </div>
      </div>
    </div>

    <script type="text/template" id="template-calendar">
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lsaquo;</div>
        <div class="month"><%= month %></div>
        <div class="clndr-next-button">&rsaquo;</div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
          <div class="days">
            <% _.each(days, function(day) { %>
              <div class="<%= day.classes %>"><%= day.day %></div>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="clndr-today-button">Today</div>
    </script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./libraries/jquery/jquery-1.10.2.min.js"></script>
    <script src="./libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="./libraries/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="./libraries/ejs/ejs_production.js"></script>
    <script src="./libraries/moment/moment.min.js"></script>
    <script src="./libraries/underscore/underscore-min.js"></script>
    <script src="./libraries/clndr/clndr.min.js"></script>
    <script src="./javascripts/index.js"></script>
    <script src="./javascripts/templates.js"></script>
    <script src="./javascripts/blog.js"></script>
  </body>
</html>
